@font-face {
    font-family: 'Oswald';

    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
         url('../fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';

    font-weight: 500;
    font-style: normal;
    font-display: swap;

    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
         url('../fonts/Oswald-Medium.woff') format('woff');
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: 1.5rem;
  scrollbar-color: $apple;
  scrollbar-track-color: transparent;
}

*::selection {
  background-color: $white;
}

*::-webkit-scrollbar {
  width: 1.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $apple;
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-family: $font-stack;
  color: $code-gray;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: $white;
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
    margin: 0 auto;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  @include hover-animation;

  font: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
