.page-header {

  &__wrap {
    position: relative; //Это для переключателя
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 500px;
    margin: 0 auto;
    padding-top: 15px;
  }

  &__logo {
    display: block;
    width: 34px;
    height: 38px;
    margin-bottom: 15px;

    cursor: pointer;
  }

  &__mobile-header {
    position: absolute;
    top: 25px;
    left: 50%;

    width: 134px;
    margin-left: -67px
  }

  &__nav {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .page-header {

    &__wrap {
      position: static;

      justify-content: space-between;
      max-width: 100%;
      margin-bottom: 40px;
      padding-top: 20px;
    }

    &__logo {
      height: auto;
      width: 173px;
    }

    &__logo:hover,
    &__logo:focus {
      opacity: 0.8;
    }

    &__logo:active {
      opacity: 0.6;
    }

    &__mobile-header {
      display: none;
    }

    &__nav {
      flex-grow: 2;
      width: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {

    &__wrap {
      margin-bottom: 50px;
      padding-top: 50px;
    }

    &__logo {
      width: 202px;
    }

    &__nav {
      flex-grow: 0;
      width: 550px;
    }
  }
}
